{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid content-spacing">
    <div class="row">
        <div class="hero col-lg-5 col-12 order-2 order-md-1 ">
            <img class="d-flex align-items-start img-fluid" src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/swiss-cheese-plant.png" alt="Swiss Cheese Plant">
        </div>
        <div class="hero-body col-lg-7 col-12 order-1 order-md-2 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1>Discover the joy of nature with Botanica Houseplants</h1>
                <div> your sanctuary for the freshest, most vibrant plants that bring life to your home.</div>
                <div>
                    <a href="{% url 'products' %}" class="btn hero-btn">Shop all plants</a>
                    <a href="{% url 'post_list' %}" class="btn hero-btn">Plant care tips</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sub-header col-lg-5 col-12 order-3 order-md-3 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h2>Why choose Botanica?</h2>
                <p>We supply a huge selection of indoor plants, from easy care plants to needy ones!</p>
            </div>
        </div>
        <div class="subheader-img col-lg-7 col-12 order-4 order-md-4 d-flex justify-content-end">
            <img src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/watering-peacelily.jpg" alt="watering a peace lily plant">
        </div>
    </div>






    <div class="pt-4">
        <h2>Shop some of our favourites</h2>
    </div>
    <div class="row home-favourites px-5 py-5">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/money-plant-med.jpg" alt="chinese money plant">
                <div class="card-body">
                    <h5 class="card-title">Chinese Money Plant</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-custom-success">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/cacti-trio.jpg" alt="trio of cacti">
                <div class="card-body">
                    <h5 class="card-title">Trio of Cacti</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-custom-success">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/figficus-small.jpg" alt="fig ficus plant">
                <div class="card-body">
                    <h5 class="card-title">Fig ficus</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-custom-success">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block content %}

{% endblock %}