{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid content-spacing">
    <div class="row">
        <div class="hero col-lg-5 col-12 order-2 order-md-1 ">
            <img class="d-flex align-items-start img-fluid"
                src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/swiss-cheese-plant.png"
                alt="Swiss Cheese Plant">
        </div>
        <div class="hero-body col-lg-7 col-12 order-1 order-md-2 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1>Discover the joy of nature with Botanica Houseplants</h1>
                <div> your sanctuary for the freshest, most vibrant plants that bring life to your home.</div>
                <div>
                    <a href="{% url 'products' %}" class="btn hero-btn">Shop all plants</a>
                    <a href="{% url 'post_list' %}" class="btn hero-btn">Plant care tips</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sub-header col-lg-5 col-12 order-3 order-md-3 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h2>Why choose Botanica?</h2>
                <p>We supply a huge selection of indoor plants, from easy care plants to needy ones!</p>
            </div>
        </div>
        <div class="subheader-img col-lg-7 col-12 order-4 order-md-4 d-flex justify-content-end">
            <img src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/watering-peacelily.jpg"
                alt="watering a peace lily plant">
        </div>
    </div>

    <div class="pt-4">
        <h2>Shop some of our favourites</h2>
    </div>
    <div class="row home-favourites px-5 py-5">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/money-plant-med.jpg"
                    alt="chinese money plant">
                <div class="card-body">
                    <h5 class="card-title">Shop All Plants</h5>
                    <p class="card-text">Start at the beginning and explore all our plants, you will love our selection!
                    </p>
                    <a href="{% url 'products' %}" class="btn btn-custom-success">Go to all plants</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/cacti-trio.jpg"
                    alt="trio of cacti">
                <div class="card-body">
                    <h5 class="card-title">Shop Easy Care Plants</h5>
                    <p class="card-text">Shop for the easy maintenance plants like our cacti and peacelillies</p>
                    <a href="{% url 'filter_easy_maintenance' %}" class="btn btn-custom-success">Go to Easy Care
                        plants</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/figficus-small.jpg"
                    alt="fig ficus plant">
                <div class="card-body">
                    <h5 class="card-title">Shop Shade lovers</h5>
                    <p class="card-text">Shop for those shade loving plants, perfect for spucing up those shadey spots
                        at home</p>
                    <a href="{% url 'filter_low_light' %}" class="btn btn-custom-success">Go to low light plants</a>
                </div>
            </div>
        </div>
    </div>
    <!-- New Section for Facebook and Newsletter -->
    <div class="row px-5 fb-newsletter-styles">
        <div class="col-lg-6 col-12 order-1 order-md-1 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h2>Follow Us on Facebook</h2>
                <a href="https://www.facebook.com/profile.php?id=61561624593985&is_tour_dismissed" target="_blank" class="btn btn-custom-success">
                    Visit our Facebook Page
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-12 order-2 order-md-2 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h2>Sign Up for Our Newsletter</h2>
                <form method="post" action="{% url 'newsletter_signup' %}">
                    {% csrf_token %}
                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                    <button type="submit" class="btn btn-custom-success mt-2">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
