{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTM5LWtsaGRkM2FuLmpwZw.jpg">
                <span class="font-weight-bold">{{ user.get_full_name }}</span>
                <span class="text-black-50">{{ user.email }}</span>
            </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">First Name</label>
                            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Last Name</label>
                            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Phone Number</label>
                            <input type="text" class="form-control" name="phone_number"
                                value="{{ address.phone_number|default:'' }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 1</label>
                            <input type="text" class="form-control" name="street_address1"
                                value="{{ address.street_address1|default:'' }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 2</label>
                            <input type="text" class="form-control" name="street_address2"
                                value="{{ address.street_address2|default:'' }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">City</label>
                            <input type="text" class="form-control" name="town_or_city"
                                value="{{ address.town_or_city|default:'' }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">County</label>
                            <input type="text" class="form-control" name="county"
                                value="{{ address.county|default:'' }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Postcode</label>
                            <input type="text" class="form-control" name="postcode"
                                value="{{ address.postcode|default:'' }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Country</label>
                            <select class="form-control" name="country">
                                <option value="">Select a country</option>
                                {% for code, name in countries %}
                                <option value="{{ code }}" {% if address.country == code %}selected{% endif %}>
                                    {{ name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-custom-success profile-button" type="submit">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}