{% extends "base.html" %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTM5LWtsaGRkM2FuLmpwZw.jpg">
                <span class="font-weight-bold">{{ user.get_full_name }}</span>
                <span class="text-black-50">{{ user.email }}</span>
                <a href="{% url 'edit_profile' %}" class="btn btn-custom-success mt-3">Edit Details</a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Your Address</h4>
                </div>
                {% if latest_order and latest_order.street_address1 %}
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">Address</label>
                            <p class="form-control">{{ latest_order.street_address1 }}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-control">{{ latest_order.street_address2 }}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-control">{{ latest_order.town_city }}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-control">{{ latest_order.county }}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-control">{{ latest_order.postcode }}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-control">{{ latest_order.country }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <p>Address details will be shown here once an order is placed!</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Order History</h4>
                </div>
                {% if orders %}
                    <ul class="list-group">
                        {% for order in orders %}
                            <li class="list-group-item">
                                <h5>Order ID: {{ order.order_id }}</h5>
                                <p>Date: {{ order.date_created }}</p>
                                <p>Total Cost: {{ order.total_cost }}</p>
                                <p>Final Amount: {{ order.final_amount }}</p>
                                <h6>Items:</h6>
                                <ul>
                                    {% for item in order.items.all %}
                                        <li>{{ item.product.name }} - {{ item.quantity_ordered }} pcs - ${{ item.item_total }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No orders found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
