{% extends "base.html" %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div
                class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTM5LWtsaGRkM2FuLmpwZw.jpg">
                <span class="font-weight-bold">{{ user.get_full_name }}</span>
                <span class="text-black-50">{{ user.email }}</span>
                <a href="{% url 'edit_profile' %}"
                    class="btn btn-custom-success mt-3">Edit Details</a>
                <a href="{% url 'manage_addresses' %}"
                    class="btn btn-custom-success mt-3">Manage Addresses</a>
                <a href="{% url 'confirm_delete_account' %}"
                    class="btn btn-danger mt-3">Delete Account</a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div
                    class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Your Addresses</h4>
                </div>
                {% if addresses %}
                {% for address in addresses %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Address {{ forloop.counter }}
                        </h5>
                        <p class="card-text"><strong>Phone Number:</strong>
                            {{ address.phone_number }}</p>
                        <p class="card-text"><strong>Street Address 1:</strong>
                            {{ address.street_address1 }}</p>
                        <p class="card-text"><strong>Street Address 2:</strong>
                            {{ address.street_address2 }}</p>
                        <p class="card-text"><strong>Town or City:</strong>
                            {{ address.town_or_city }}</p>
                        <p class="card-text"><strong>County:</strong>
                            {{ address.county }}</p>
                        <p class="card-text"><strong>Postcode:</strong>
                            {{ address.postcode }}</p>
                        <p class="card-text"><strong>Country:</strong>
                            {{ address.country }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No addresses on file.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div
                    class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Order History</h4>
                </div>
                {% if orders %}
                <ul class="list-group">
                    {% for order in orders %}
                    <li class="list-group-item">
                        <h5>Order ID: {{ order.order_id }}</h5>
                        <p>Date: {{ order.date_created }}</p>
                        <p>Total Cost: £{{ order.total_cost|floatformat:2 }}</p>
                        <p>Final Amount: £{{ order.final_amount|floatformat:2 }}
                        </p>
                        <h6>Items:</h6>
                        <ul>
                            {% for item in order.items.all %}
                            <li>{{ item.product.easy_name }} -
                                x{{ item.quantity_ordered }}
                                ({{ item.product_size }}) -
                                £{{ item.item_total|floatformat:2 }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No orders found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
