{% extends "base.html" %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div
                class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTM5LWtsaGRkM2FuLmpwZw.jpg">
                <span class="font-weight-bold">{{ user.get_full_name }}</span>
                <span class="text-black-50">{{ user.email }}</span>
                <a href="{% url 'edit_profile' %}"
                    class="btn btn-custom-success mt-3">Edit Details</a>
                <a href="{% url 'confirm_delete_account' %}"
                    class="btn btn-danger mt-3">Delete Account</a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div
                    class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Your Address</h4>
                </div>
                {% if user.userprofile.default_address %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your Default Address</h5>
                        <p class="card-text">
                            {% if user.userprofile.default_address.street_address1 %}
                            {{ user.userprofile.default_address.street_address1 }}<br>
                            {% endif %}
                            {% if user.userprofile.default_address.street_address2 %}
                            {{ user.userprofile.default_address.street_address2 }}<br>
                            {% endif %}
                            {% if user.userprofile.default_address.town_or_city %}
                            {{ user.userprofile.default_address.town_or_city }}<br>
                            {% endif %}
                            {% if user.userprofile.default_address.county %}
                            {{ user.userprofile.default_address.county }}<br>
                            {% endif %}
                            {% if user.userprofile.default_address.postcode %}
                            {{ user.userprofile.default_address.postcode }}<br>
                            {% endif %}
                            {% if user.userprofile.default_address.country %}
                            {{ user.userprofile.default_address.country }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="row mt-2">
                    <div class="col-md-12">
                        <p>Address details will be shown here once you update
                            your profile!</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div
                    class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Order History</h4>
                </div>
                {% if orders %}
                <ul class="list-group">
                    {% for order in orders %}
                    <li class="list-group-item">
                        <h5>Order ID: {{ order.order_id }}</h5>
                        <p>Date: {{ order.date_created }}</p>
                        <p>Total Cost: £{{ order.total_cost|floatformat:2 }}</p>
                        <p>Final Amount: £{{ order.final_amount|floatformat:2 }}
                        </p>
                        <h6>Items:</h6>
                        <ul>
                            {% for item in order.items.all %}
                            <li>{{ item.product.easy_name }} -
                                x{{ item.quantity_ordered }}
                                ({{ item.product_size }}) -
                                £{{ item.item_total|floatformat:2 }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No orders found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
