{% extends "base.html" %}
{% load static %}

<!-- Page Header -->
{% block page_header %}
<div class="container header-spacing text-center">
    <div class="row">
        <div class="col">
            <br>
            <h1>Thank you for your order, <strong>{{ order.customer_name }}</strong>!</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid" src="https://botanica-plants.s3.eu-north-1.amazonaws.com/media/snakes-pothos.jpg" alt="display of snake and pothos plants">
        </div>
        <div class="col-lg-8 offset-lg-2">
            <br>
            <h3>Order Number: {{ order.order_id }}</h3>
            <p class="mt-3"> A confirmation email was sent to {{ order.email_address }}</p>
            
            <h3 class="mt-5">Delivery Address</h3>
            <p>
                {{ order.address.street_address1 }}<br>
                {% if order.address.street_address2 %}
                    {{ order.address.street_address2 }}<br>
                {% endif %}
                {{ order.address.town_or_city }}<br>
                {{ order.address.county }}<br>
                {{ order.address.postcode }}<br>
                {{ order.address.country }}
            </p>
            
            <h3 class="mt-5">Items Ordered</h3>
            <ul class="list-unstyled">
                {% for item in order.items.all %}
                    <li>{{ item.product.easy_name }} - x{{ item.quantity_ordered }} ({{ item.product_size }}) - £{{ item.item_total|floatformat:2 }}</li>
                {% endfor %}
            </ul>
            
            <h3 class="mt-5">Order Total</h3>
            <p class="font-weight-bold">£{{ order.final_amount|floatformat:2 }}</p>
            
            <p class="mt-4">Click below to return shopping for more houseplants!</p>
            <a href="{% url 'products' %}" class="btn btn-custom-success btn-block">Back to Plants!</a>
        </div>
    </div>
</div>
{% endblock %}