@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {

}

/* ----------------------------------------Nav bar  */

.dropdown-toggle::after {
    display: none;
}

li {
    list-style: none;
}

nav {
    Font-family: 'Fredoka', cursive;
    background-color: #EBEBEB;
    font-size: 20px;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 500;
    color: #6a6a6a;
}

.nav-item > a {
    font-size: 20px;
    color: #6a6a6a;
}

.custom-nav-li {
    color: #6a6a6a;
}

.custom-btn {
    background-color: #EBEBEB; 
    color: #aac297; 
    border: 2px solid #aac297; 
    border-radius: 4px; 
    text-decoration: none;
    display: inline-block;
}

.custom-btn:hover {
    background-color: #b1c1a5; 
    color: #ffffff;
}

/* ---------------------------------index.html css */

.display-flex {
    display: flex;
    height: 300px;
}

.hero {
    position: relative;
    overflow: hidden;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex: 50%;
    
}

.img-as-bg {
    width: 100%;
    height: auto;
}

.hero-body {
    text-align: center;
    padding: 20px;
    background-color: burlywood;
    flex: 50%;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

.sub-header {
    text-align: center;
    padding: 20px;
    background-color: crimson;
    flex: 50%;
}

.subheader-img {
    background-color: darkslateblue;
    flex: 50%;
}

/* Responsive styles */

@media screen and (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    button {
        font-size: 14px;
    }

    .display-flex {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .container-fluid {
        max-width: 90%;
    }

    .img-as-bg {
        width: auto;
        max-width: 50%;
        height: auto;
    }

    h1 {
        font-size: 36px;
    }
}