@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}

.content-spacing {
    padding-top: 100px;
}

/* ----------------------------------------Nav bar  */

.dropdown-toggle::after {
    display: none;
}

li {
    list-style: none;
}

nav {
    Font-family: 'Fredoka', cursive;
    background-color: #EBEBEB;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Custom CSS for Navbar Toggler */
.navbar-toggler {
    border: none;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7 7l16 16M23 7L7 23'/%3E%3C/svg%3E");
}

.navbar-brand {
    font-size: 42px;
    font-weight: 500;
    color: #6a6a6a;
}

.nav-item>a {
    font-size: 22px;
    color: #6a6a6a;
}

.custom-nav-li {
    color: #6a6a6a;
    background-color: #EBEBEB;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    padding-left: 2em;
    padding-right: 2em;
}

.navbar-brand:hover,
.custom-nav-li:hover {
    color: #AEBDA1;
}

/* ----------------------------Header Containter */

.header-container {
    background-color: #AEBDA1;
}

/* -----------------------------------Buttons  */

.custom-btn {
    background-color: rgba(0, 0, 0, 0);
    color: #6a6a6a;
    border: 2px solid #6a6a6a;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-size: 20px;

}

.custom-btn:hover {
    color: #AEBDA1;
    border: 2px solid #AEBDA1;
    text-decoration: none;
}

/* ---------------------------------index.html css */

.hero {
    background-size: cover;
    background-color: #AEBDA1;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    
}

.hero>img {
    max-width: 100%;
}

.hero-body {
    text-align: center;
    background-color: #AEBDA1;
    min-height: 400px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

.hero-btn {
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-size: 16px;
    margin: 1em;
}

.hero-btn:hover {
    color: #ffffff;
}

.sub-header {
    text-align: center;
    background-color: white;
    min-height: 400px;
}

.subheader-img {
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: end; 
    align-items: center; 
    overflow: hidden; 
}

.subheader-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

/* -------------------------- favourites banner */

.home-favourites {
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* -----------------------------------Products.html */

.top-margins {
    margin-top: 500px;
}


/* ----------------------------------Footer */

.footer {
    padding-top: 10px;
    padding-bottom: 0px;
    width:100%;
    background-color: #a4a4a4;
    color: #000000;
}

.footer-socials a,
.footer-links a {
    color: #333; 
    margin-right: 15px; 
    font-size: 20px;
}

.footer-socials a:hover,
.footer-links a:hover {
    color: #555; 
}


/* -----------------------------Responsive styles */

@media screen and (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    button {
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) {
    .container-fluid {
        max-width: 90%;
    }

    h1 {
        font-size: 36px;
    }

    .content-spacing {
        padding-top: 200px;
    }

    .carousel, .card {
        margin-bottom: 0;
    }

}