{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    <script src="https://kit.fontawesome.com/953780aa69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Botanica Houseplants</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
        <div class="container">
            <a class="navbar-brand title-name" href="{% url 'home' %}">Botanica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Nav items -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Shop All Plants</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Light</a>
                            <a class="dropdown-item" href="#">Ease of care</a>
                            <a class="dropdown-item" href="#">Height</a>
                            <a class="dropdown-item" href="#">Price</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_list' %}">The Plant Blog</a>
                    </li>
                </ul>
                <!-- Search bar -->
                <ul class="navbar-nav ml-auto d-flex align-items-center">
                    <li class="nav-item">
                        <form class="form-inline" action="{% url 'search' %}" method="get">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                            <button class="btn btn-link nav-link" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                    <!-- Bag icon -->
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" href="{% url 'shopping_bag' %}">
                            <i class="fas fa-shopping-bag"></i>
                            {% if total_quantity > 0 %}
                                <span class="badge custom-badge">{{ total_quantity }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <!-- User icon -->
                    <li class="nav-item dropdown d-flex align-items-center pl-2">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="#">View Profile</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            {% else %}
                            <span class="dropdown-item-text">No user logged in</span>
                            <a class="dropdown-item" href="{% url 'account_login' %}">Click here to Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <script>
        $(document).ready(function () {
            $('.navbar-toggler').click(function () {
                $(this).toggleClass('collapsed');
            });
        });
        </script>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %} 
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="footer-links">
                        <a href="/about">About Us</a>
                        <a href="/contact">Contact</a>
                        <a href="/privacy">Privacy Policy</a>
                        <a href="/faq">FAQ</a>
                    </span>
                    <span class="footer-socials">
                        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </span>
                </div>
            </div>
            <div class="footer-legal text-center">
                <p style="padding: 0;">&copy; 2024 Botanica Houseplants. All rights reserved.</p>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>