{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    <script src="https://kit.fontawesome.com/953780aa69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Botanica Houseplants</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'home' %}">Botanica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse custom-nav-li" id="navbarText">
            <ul class="navbar-nav m-auto custom-nav-li">
                <li class="nav-item active">
                    <a class="nav-link custom-nav-li" href="{% url 'products' %}">All Plants<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle custom-nav-li" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Light</a>
                        <a class="dropdown-item" href="#">Ease of care</a>
                        <a class="dropdown-item" href="#">Height</a>
                        <a class="dropdown-item" href="#">Price</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-li" href="#">Plant Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-li" href="#">Contact Us</a>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="{% url 'account_login' %}">
                            <button class="btn custom-btn btn-link">
                                <div class="text-center">Sign In</div>
                            </button>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link custom-nav-li" href="#">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </nav>

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').click(function () {
                $(this).toggleClass('collapsed');
            });
        });
        </script>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %} 
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="container text-center">
            <div class="footer-links">
                <a href="/about">About Us</a>
                <a href="/contact">Contact</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/faq">FAQ</a>
            </div>
            <div class="footer-socials">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
            <div class="footer-legal">
                <p>&copy; 2024 Botanica Houseplants. All rights reserved.</p>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>