{% extends "base.html" %}
{% load static %}

<!-- Page Header -->
{% block page_header %}
<div class="container header-spacing text-center">
    <div class="row">
        <div class="col">
            <h1>All Plants</h1>
        </div>
    </div>
</div>
{% endblock %}

<!-- Main content -->
{% block content %}
<!-- Filter/Sort By Box -->
<div class="container filter-sort-spacing">
    <div class="row">
        <div class="col-12 filter-header d-md-none">
            <span></span>
            <button class="btn btn-custom-success" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                Filter/Sort Options  <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="col-12">
            <div class="collapse" id="filterCollapse">
                <form action="{% url 'filter_products' %}" method="get" class="form-inline">
                    <div class="form-group mr-3">
                        <label for="light" class="mr-4">Light</label>
                        <select name="light" id="light" class="form-control">
                            <option value="">All</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">Bright</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="height" class="mr-3">Height</label>
                        <select name="height" id="height" class="form-control">
                            <option value="">All</option>
                            <option value="short">Short</option>
                            <option value="medium">Medium</option>
                            <option value="tall">Tall</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="ease_of_care" class="mr-3">Ease of Care</label>
                        <select name="ease_of_care" id="ease_of_care" class="form-control">
                            <option value="">All</option>
                            <option value="easy">Easy</option>
                            <option value="moderate">Moderate</option>
                            <option value="difficult">Difficult</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="price" class="mr-3">Max Price</label>
                        <input type="number" name="price" id="price" class="form-control" placeholder="Max Price">
                    </div>
                    <button class="btn btn-custom-success" type="submit">Filter</button>
                </form>
            </div>
            <div class="d-none d-md-block">
                <form action="{% url 'filter_products' %}" method="get" class="form-inline">
                    <div class="form-group mr-3">
                        <label for="light" class="mr-3">Light</label>
                        <select name="light" id="light" class="form-control">
                            <option value="">All</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">Bright</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="height" class="mr-3">Height</label>
                        <select name="height" id="height" class="form-control">
                            <option value="">All</option>
                            <option value="short">Short</option>
                            <option value="medium">Medium</option>
                            <option value="tall">Tall</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="ease_of_care" class="mr-3">Ease of Care</label>
                        <select name="ease_of_care" id="ease_of_care" class="form-control">
                            <option value="">All</option>
                            <option value="easy">Easy</option>
                            <option value="moderate">Moderate</option>
                            <option value="difficult">Difficult</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="price" class="mr-3">Max Price</label>
                        <input type="number" name="price" id="price" class="form-control" placeholder="Max Price">
                    </div>
                    <button class="btn btn-custom-success" type="submit">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Your existing content here -->
<div class="overlay">
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid"
                            src="{% if product.image %}{{ product.image.url }}{% else %}/product-images/no-image-available.png{% endif %}"
                            alt="{{ product.easy_name }}">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.easy_name }}</h5>
                        <p class="card-text">{{ product.scientific_name }}</p>
                        <div class="mt-auto d-flex justify-content-between align-items-center">
                            <p class="mb-0">from: <strong>£{{ product.price }}</strong></p>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-custom-success">More details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}