{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container lg-spacing lg-margin">
    <div class="row">
        <!-- Product Image Section -->
        <div class="col-md-6">
            <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}/default_images/no-image-available.png{% endif %}" alt="{{ product.easy_name }}">
        </div>

        <!-- Product Details Section -->
        <div class="col-md-6">
            <h2 class="mt-3">{{ product.easy_name }}</h2>
            <p><em>{{ product.scientific_name }}</em></p>
            <div class="d-flex justify-content-between mb-4">
                <span>
                    <i class="fa fa-sun"></i>
                    <strong>Light:</strong> {{ product.get_light_display }}
                </span>
                <span>
                    <i class="fa fa-hand-holding-water"></i>
                    <strong>Ease of Care:</strong> {{ product.get_ease_of_care_display }}
                </span>
                <span>
                    <i class="fa fa-paw"></i>
                    <strong>Pet Friendly:</strong> {{ product.pet_friendly|yesno:"Yes,No" }}
                </span>
            </div>

            <p class="h4 my-5 ml-2"> £{{ product.price }}</p>

            <!-- Height Options -->
            <p class="mb-2 ml-2">Plant height selection:</p>
            <div class="mb-3">
                <div class="btn-group d-block mb-2" role="group" aria-label="Plant heights">
                    <button type="button" class="btn btn-outline-secondary square-btn" onclick="selectHeight('sm')">Small ({{ heights.sm }})</button>
                    <button type="button" class="btn btn-outline-secondary square-btn" onclick="selectHeight('med')">Medium ({{ heights.med }})</button>
                    <button type="button" class="btn btn-outline-secondary square-btn" onclick="selectHeight('lg')">Large ({{ heights.lg }})</button>
                </div>
                <p id="selected-height" class="ml-2">Selected height: </p>

                <!-- Quantity Selector -->
                <div class="d-flex align-items-center mb-3">Quantity: 
                    <button type="button" class="btn btn-outline-secondary quantity-btn" onclick="decreaseQuantity()">-</button>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control quantity-input mx-2">
                    <button type="button" class="btn btn-outline-secondary quantity-btn" onclick="increaseQuantity()">+</button>
                </div>

                <!-- Add to Bag -->
                <button class=" my-4 btn-custom-success btn-lg btn-block">
                    <i class="fa fa-shopping-cart"></i> Add to Bag
                </button>
            </div>
            <h4 class="mt-5">Need plant tips and tricks?</h4>
            <p>Head to Botantica's <a href="{% url 'post_list' %}">The Plant Blog</a> for all your planting needs</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mt-3">Description</h3>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>

    <script>
    const heights = JSON.parse(document.getElementById('heights-data').textContent);

    function selectHeight(size) {
        document.getElementById('selected-height').innerText = `Selected height: ${heights[size]}`;
    }

    function decreaseQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentValue = parseInt(quantityInput.value);
        if (currentValue > 1) {
            quantityInput.value = currentValue - 1;
        }
    }

    function increaseQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentValue = parseInt(quantityInput.value);
        quantityInput.value = currentValue + 1;
    }
</script>
{% endblock %}