{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container lg-spacing lg-margin">
    <div class="row">
        <!-- Product Image Section -->
        <div class="col-md-6">
            <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}/default_images/no-image-available.png{% endif %}" alt="{{ product.easy_name }}">
        </div>

        <!-- Product Details Section -->
        <div class="col-md-6">
            <h2 class="mt-3">{{ product.easy_name }}</h2>
            <p><em>{{ product.scientific_name }}</em></p>
            <div class="d-flex justify-content-between mb-4">
                <span>
                    <i class="fa fa-sun"></i>
                    <strong>Light:</strong> {{ product.get_light_display }}
                </span>
                <span>
                    <i class="fa fa-hand-holding-water"></i>
                    <strong>Ease of Care:</strong> {{ product.get_ease_of_care_display }}
                </span>
                <span>
                    <i class="fa fa-paw"></i>
                    <strong>Pet Friendly:</strong> {{ product.pet_ok|yesno:"Yes,No" }}
                </span>
            </div>

            <!-- Price Display -->
            <p class="h4 my-5 ml-2">from: £<span id="priceDisplay" style="font-weight: bold;">{{ smallest_price }}</span></p>

            <!-- Height Options -->
            <p class="mb-2 ml-2">Select the height of your new plant:</p>
            <div class="mb-3">
                <div class="btn-group d-block mb-2" role="group" aria-label="Plant heights">
                    {% if heights.sm != '' %}
                        <button type="button" class="btn btn-outline-secondary square-btn" onclick="selectHeight('sm')">Small ({{ heights.sm }})</button>
                    {% endif %}
                    {% if heights.med != '' %}
                        <button type="button" class="btn btn-outline-secondary square-btn" onclick="selectHeight('med')">Medium ({{ heights.med }})</button>
                    {% endif %}
                    {% if heights.lg != '' %}
                        <button type="button" class="btn btn-outline-secondary square-btn" onclick="selectHeight('lg')">Large ({{ heights.lg }})</button>
                    {% endif %}
                </div>           

                <!-- Quantity Selector -->
                <div class="d-flex align-items-center mb-3">
                    Quantity:
                    <button type="button" class="btn btn-outline-secondary quantity-btn" onclick="decreaseQuantity()">-</button>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control quantity-input mx-2 no-arrows">
                    <button type="button" class="btn btn-outline-secondary quantity-btn" onclick="increaseQuantity()">+</button>
                </div>

                <!-- Add to Bag -->
                <form id="add-to-bag-form" method="POST" action="{% url 'add_to_bag' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" id="quantity-input" value="1">
                    <input type="hidden" name="selected_height" id="selected-height-input">
                    <button type="submit" class="my-4 btn-custom-success btn-lg btn-block" onclick="validateForm(event)">
                        <i class="fa fa-shopping-cart"></i> Add to Bag
                    </button>
                </form>
            </div>
            <h4 class="mt-5">Need plant tips and tricks?</h4>
            <p>Head to Botantica's <a href="{% url 'post_list' %}">The Plant Blog</a> for all your planting needs</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mt-3">Description</h3>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>

{% endblock %}